get-care-ai/deploy/ai/vendor/autoload.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/CHANGELOG.md
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/composer.json
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/LICENSE.md
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/README.md
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Ollama.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/OllamaClient.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Contracts/BlobsContract.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Contracts/ChatContract.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Contracts/CompletionsContract.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Contracts/EmbedContract.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Contracts/ModelsContract.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Contracts/ResponseContract.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Contracts/StreamResponseContract.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Resources/Blobs.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Resources/Chat.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Resources/Completions.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Resources/Embed.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Resources/Models.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Responses/StreamResponse.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Responses/Chat/ChatMessageResponse.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Responses/Chat/ChatMessageToolCallFunctionResponse.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Responses/Chat/ChatMessageToolCallResponse.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Responses/Chat/ChatResponse.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Responses/Completions/CompletionResponse.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Responses/Embed/EmbedResponse.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Responses/Models/CreateModelResponse.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Responses/Models/ListModelsModelDetailsResponse.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Responses/Models/ListModelsModelResponse.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Responses/Models/ListModelsResponse.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Responses/Models/ListRunningModelsModelResponse.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Responses/Models/ListRunningModelsResponse.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Responses/Models/PullModelResponse.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Responses/Models/PushModelResponse.php
get-care-ai/deploy/ai/vendor/ardagnsrn/ollama-php/src/Responses/Models/ShowModelResponse.php
get-care-ai/deploy/ai/vendor/composer/autoload_classmap.php
get-care-ai/deploy/ai/vendor/composer/autoload_files.php
get-care-ai/deploy/ai/vendor/composer/autoload_namespaces.php
get-care-ai/deploy/ai/vendor/composer/autoload_psr4.php
get-care-ai/deploy/ai/vendor/composer/autoload_real.php
get-care-ai/deploy/ai/vendor/composer/autoload_static.php
get-care-ai/deploy/ai/vendor/composer/ClassLoader.php
get-care-ai/deploy/ai/vendor/composer/installed.json
get-care-ai/deploy/ai/vendor/composer/installed.php
get-care-ai/deploy/ai/vendor/composer/InstalledVersions.php
get-care-ai/deploy/ai/vendor/composer/LICENSE
get-care-ai/deploy/ai/vendor/composer/platform_check.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/CHANGELOG.md
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/composer.json
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/LICENSE
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/package-lock.json
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/README.md
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/UPGRADING.md
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/BodySummarizer.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/BodySummarizerInterface.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Client.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/ClientInterface.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/ClientTrait.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/functions_include.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/functions.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/HandlerStack.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/MessageFormatter.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/MessageFormatterInterface.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Middleware.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Pool.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/PrepareBodyMiddleware.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/RedirectMiddleware.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/RequestOptions.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/RetryMiddleware.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/TransferStats.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Utils.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Cookie/CookieJar.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Cookie/CookieJarInterface.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Cookie/FileCookieJar.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Cookie/SessionCookieJar.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Cookie/SetCookie.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Exception/BadResponseException.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Exception/ClientException.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Exception/ConnectException.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Exception/GuzzleException.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Exception/InvalidArgumentException.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Exception/RequestException.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Exception/ServerException.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Exception/TooManyRedirectsException.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Exception/TransferException.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Handler/CurlFactory.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Handler/CurlFactoryInterface.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Handler/CurlHandler.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Handler/CurlMultiHandler.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Handler/EasyHandle.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Handler/HeaderProcessor.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Handler/MockHandler.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Handler/Proxy.php
get-care-ai/deploy/ai/vendor/guzzlehttp/guzzle/src/Handler/StreamHandler.php
get-care-ai/deploy/ai/vendor/guzzlehttp/promises/CHANGELOG.md
get-care-ai/deploy/ai/vendor/guzzlehttp/promises/composer.json
get-care-ai/deploy/ai/vendor/guzzlehttp/promises/LICENSE
get-care-ai/deploy/ai/vendor/guzzlehttp/promises/README.md
get-care-ai/deploy/ai/vendor/guzzlehttp/promises/src/AggregateException.php
get-care-ai/deploy/ai/vendor/guzzlehttp/promises/src/CancellationException.php
get-care-ai/deploy/ai/vendor/guzzlehttp/promises/src/Coroutine.php
get-care-ai/deploy/ai/vendor/guzzlehttp/promises/src/Create.php
get-care-ai/deploy/ai/vendor/guzzlehttp/promises/src/Each.php
get-care-ai/deploy/ai/vendor/guzzlehttp/promises/src/EachPromise.php
get-care-ai/deploy/ai/vendor/guzzlehttp/promises/src/FulfilledPromise.php
get-care-ai/deploy/ai/vendor/guzzlehttp/promises/src/Is.php
get-care-ai/deploy/ai/vendor/guzzlehttp/promises/src/Promise.php
get-care-ai/deploy/ai/vendor/guzzlehttp/promises/src/PromiseInterface.php
get-care-ai/deploy/ai/vendor/guzzlehttp/promises/src/PromisorInterface.php
get-care-ai/deploy/ai/vendor/guzzlehttp/promises/src/RejectedPromise.php
get-care-ai/deploy/ai/vendor/guzzlehttp/promises/src/RejectionException.php
get-care-ai/deploy/ai/vendor/guzzlehttp/promises/src/TaskQueue.php
get-care-ai/deploy/ai/vendor/guzzlehttp/promises/src/TaskQueueInterface.php
get-care-ai/deploy/ai/vendor/guzzlehttp/promises/src/Utils.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/CHANGELOG.md
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/composer.json
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/LICENSE
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/README.md
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/AppendStream.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/BufferStream.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/CachingStream.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/DroppingStream.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/FnStream.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/Header.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/HttpFactory.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/InflateStream.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/LazyOpenStream.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/LimitStream.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/Message.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/MessageTrait.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/MimeType.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/MultipartStream.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/NoSeekStream.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/PumpStream.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/Query.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/Request.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/Response.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/Rfc7230.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/ServerRequest.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/Stream.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/StreamDecoratorTrait.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/StreamWrapper.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/UploadedFile.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/Uri.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/UriComparator.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/UriNormalizer.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/UriResolver.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/Utils.php
get-care-ai/deploy/ai/vendor/guzzlehttp/psr7/src/Exception/MalformedUriException.php
get-care-ai/deploy/ai/vendor/psr/http-client/CHANGELOG.md
get-care-ai/deploy/ai/vendor/psr/http-client/composer.json
get-care-ai/deploy/ai/vendor/psr/http-client/LICENSE
get-care-ai/deploy/ai/vendor/psr/http-client/README.md
get-care-ai/deploy/ai/vendor/psr/http-client/src/ClientExceptionInterface.php
get-care-ai/deploy/ai/vendor/psr/http-client/src/ClientInterface.php
get-care-ai/deploy/ai/vendor/psr/http-client/src/NetworkExceptionInterface.php
get-care-ai/deploy/ai/vendor/psr/http-client/src/RequestExceptionInterface.php
get-care-ai/deploy/ai/vendor/psr/http-factory/composer.json
get-care-ai/deploy/ai/vendor/psr/http-factory/LICENSE
get-care-ai/deploy/ai/vendor/psr/http-factory/README.md
get-care-ai/deploy/ai/vendor/psr/http-factory/src/RequestFactoryInterface.php
get-care-ai/deploy/ai/vendor/psr/http-factory/src/ResponseFactoryInterface.php
get-care-ai/deploy/ai/vendor/psr/http-factory/src/ServerRequestFactoryInterface.php
get-care-ai/deploy/ai/vendor/psr/http-factory/src/StreamFactoryInterface.php
get-care-ai/deploy/ai/vendor/psr/http-factory/src/UploadedFileFactoryInterface.php
get-care-ai/deploy/ai/vendor/psr/http-factory/src/UriFactoryInterface.php
get-care-ai/deploy/ai/vendor/psr/http-message/CHANGELOG.md
get-care-ai/deploy/ai/vendor/psr/http-message/composer.json
get-care-ai/deploy/ai/vendor/psr/http-message/LICENSE
get-care-ai/deploy/ai/vendor/psr/http-message/README.md
get-care-ai/deploy/ai/vendor/psr/http-message/docs/PSR7-Interfaces.md
get-care-ai/deploy/ai/vendor/psr/http-message/docs/PSR7-Usage.md
get-care-ai/deploy/ai/vendor/psr/http-message/src/MessageInterface.php
get-care-ai/deploy/ai/vendor/psr/http-message/src/RequestInterface.php
get-care-ai/deploy/ai/vendor/psr/http-message/src/ResponseInterface.php
get-care-ai/deploy/ai/vendor/psr/http-message/src/ServerRequestInterface.php
get-care-ai/deploy/ai/vendor/psr/http-message/src/StreamInterface.php
get-care-ai/deploy/ai/vendor/psr/http-message/src/UploadedFileInterface.php
get-care-ai/deploy/ai/vendor/psr/http-message/src/UriInterface.php
get-care-ai/deploy/ai/vendor/ralouphie/getallheaders/composer.json
get-care-ai/deploy/ai/vendor/ralouphie/getallheaders/LICENSE
get-care-ai/deploy/ai/vendor/ralouphie/getallheaders/README.md
get-care-ai/deploy/ai/vendor/ralouphie/getallheaders/src/getallheaders.php
get-care-ai/deploy/ai/vendor/symfony/deprecation-contracts/CHANGELOG.md
get-care-ai/deploy/ai/vendor/symfony/deprecation-contracts/composer.json
get-care-ai/deploy/ai/vendor/symfony/deprecation-contracts/function.php
get-care-ai/deploy/ai/vendor/symfony/deprecation-contracts/LICENSE
get-care-ai/deploy/ai/vendor/symfony/deprecation-contracts/README.md
get-care-ai/deploy/ai/.ollama_data/id_ed25519
get-care-ai/deploy/ai/.ollama_data/id_ed25519.pub
get-care-ai/deploy/ai/.ollama_data/models/blobs/sha256-1b4aef35c9f1192044655b98bc566c31b1084379c146124ab9c13d55a1433eea
get-care-ai/deploy/ai/.ollama_data/models/blobs/sha256-6f757009b5ce2b368b97330c5a1ab47603f0e762cb67f41c38ff5e0252218755
get-care-ai/deploy/ai/.ollama_data/models/blobs/sha256-2639fa516443388579aa149f7b1c0036657e937bc981e975e17d2de861f9f71c
get-care-ai/deploy/ai/.ollama_data/models/blobs/sha256-926050232bc91d5e14a12320472020993628d83b1de738a584c43d18f16c4eb1
get-care-ai/deploy/ai/.ollama_data/models/blobs/sha256-fbbe9f68bba10a55bf72a29814695826e6486a69e768bd69b028f845243718e9
get-care-ai/deploy/ai/.ollama_data/models/manifests/registry.ollama.ai/koesn/llama3-openbiollm-8b/q6_K
